@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-family: 'Inter', sans-serif;
}

header{
    z-index:10001 !important ;
}

.meet{
    color: var(--brand-primary, #4CAF4F);

/* Heading/Headline 4 */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
}

.header_blog{
    color: var(--neutral-black, #263238);
text-align: center;

/* Heading/Headline 1 */
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 76px; /* 118.75% */
}